<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row form-group">
        <label for="oldPassword">Old password</label>
        <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
    </div>
    <div *ngIf="oldPassword.errors?.required && (oldPassword.touched || oldPassword.dirty)" class="alert alert-danger">
        Old password is required.
    </div>
    <div class="form-row form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
    </div>
    <div *ngIf="newPassword.errors?.minlength" class="alert alert-danger">
        Password must be at least 6 characters in length.
    </div>
    <div class="form-row form-group">
        <label for="confirmedPassword">Confirm password</label>
        <input type="password" class="form-control" id="confirmedPassword" formControlName="confirmedPassword">
    </div>
    <div *ngIf="!form.errors?.passwordMatch && (form.touched || form.dirty) && !newPassword.errors?.minlength"
        class="alert alert-danger">
        Passwords do not match.
    </div>
    <div class="form-row mb-2">
        <div class="col d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </div>
</form>
<div *ngIf="formSubmitted && isSuccessful" class="alert alert-success">
    <span>{{message}}</span>
</div>
<div *ngIf="formSubmitted && isFailed" class="alert alert-danger">
    <span>{{message}}</span>
</div>
