<div class="container">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
        <h3 *ngIf=!edit>Create new restaurant</h3>
        <h3 *ngIf=edit>Edit restaurant</h3>

        <div formGroupName="element">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <span *ngIf="formFieldRequired('element.name')" class="validator">
                        (Required)
                    </span>
                    <input type="text" class="form-control" id="name" formControlName="name"
                        [ngClass]="{'is-invalid': formFieldRequired('element.name')}">
                </div>
                <div class="form-group col-md-6">
                    <label for="phoneNumber">Phone number</label>
                    <small class="text-muted">
                        Optional
                    </small>
                    <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <span *ngIf="formFieldRequired('element.address')" class="validator">
                    (Required)
                </span>
                <input type="text" class="form-control" id="inputAddress" formControlName="address"
                    placeholder="Street address"
                    [ngClass]="{'is-invalid': formFieldRequired('element.address')}">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <small class="text-muted">
                    Optional
                </small>
                <input type="text" class="form-control" id="inputAddress2" formControlName="addressNumber"
                    placeholder="Apartment, suite, unit, building, floor, etc.">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="City">City</label>
                    <span *ngIf="formFieldRequired('element.city')" class="validator">
                        (Required)
                    </span>
                    <input type="text" class="form-control" formControlName="city" id="City"
                        [ngClass]="{'is-invalid': formFieldRequired('element.city')}">
                </div>
                <div class="form-group col-md-4">
                    <label for="state">State</label>
                    <span *ngIf="formFieldRequired('element.state')" class="validator">
                        (Required)
                    </span>
                    <input type="text" class="form-control" formControlName="state" id="state"
                        [ngClass]="{'is-invalid': formFieldRequired('element.state')}">
                </div>
                <div class="form-group col-md-2">
                    <label for="postalCode">Postal code</label>
                    <span *ngIf="formFieldRequired('element.postalCode')" class="validator">
                        (Required)
                    </span>
                    <input type="text" class="form-control" formControlName="postalCode" id="postalCode"
                        [ngClass]="{'is-invalid': formFieldRequired('element.postalCode')}">
                </div>
            </div>
            <div class="form-group">
                <label for="website">Menu link</label>
                <small class="text-muted">
                    Optional
                </small>
                <input type="text" class="form-control" id="website" formControlName="website">
            </div>

            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" formControlName="carryOut" id="carryOut">
                    <label class="form-check-label" for="carryOut">Carry out</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" formControlName="delivery" id="delivery">
                    <label class="form-check-label" for="delivery">Delivery</label>
                </div>
            </div>
        </div>

        <div formGroupName="image" class="form-group">
            <input type="file" class="form-control-file" id="thumbnail" formControlName="imageSourceFile"
                accept="image/png, image/jpeg, image/jpg" (change)="onFileChange($event)" hidden>
            <div *ngIf=previewImage>
                <div class="form-row">
                    <div class="col">
                        <img [src]="previewImage" (click)="clickElementById('thumbnail')" class="img-fluid">
                    </div>
                </div>
            </div>
            <div *ngIf=!previewImage class="thumbnailNoPreview rounded" (click)="clickElementById('thumbnail')">
                <div class="center">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-camera" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M15 12V6a1 1 0 0 0-1-1h-1.172a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 9.173 3H6.828a1 1 0 0 0-.707.293l-.828.828A3 3 0 0 1 3.172 5H2a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                                <path fill-rule="evenodd"
                                    d="M8 11a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                <path d="M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                            </svg>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <p>Upload image</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf=invalidImageType class="validator">
                Invalid image type.
            </div>
            <div *ngIf=invalidImageSize class="validator">
                10Mb size exceeded, upload a lower resolution image.
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col d-flex justify-content-end">
                <button *ngIf=edit class="btn btn-primary" type="submit">Confirm edit!</button>
                <button *ngIf=!edit class="btn btn-primary" type="submit">Create restaurant!</button>
            </div>
        </div>
    </form>
</div>