<div class="row mt-3 mb-3">
    <div class="col d-flex justify-content-end">
        <a routerLink="/restaurant/add" class="btn btn-outline-primary" role="button">Add resturant</a>
    </div>
</div>
<div class="card-deck mr-auto">
    <div class="card" *ngFor="let restaurant of restaurants">
        <a [routerLink]="['/restaurant/detail', restaurant.id]">
            <!-- <img class="card-img-top img-fluid" src="{{ resturant.imageSource }}" alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">{{ restaurant.name }} </h5>
            </div>
        </a>
    </div>
</div>