<form *ngIf="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
   <h3 *ngIf=!editRecipe>Create recipe</h3>
   <h3 *ngIf=editRecipe>Edit recipe</h3>
   <div class="row">
      <div class="col-lg">
         <div formGroupName="image" class="form-group">
            <label for="thumbnail">Thumbnail</label>
            <input type="file" class="form-control-file" id="thumbnail" formControlName="imageSourceFile"
               accept="image/png, image/jpeg, image/jpg" (change)="onFileChange($event)" hidden>
            <img [src]="previewImage" (click)="triggerFileUpdload()" class="img-fluid">
            <small id="thumbnailHelp" class="form-text text-muted">Accepted formats: png, jpeg and jpg</small>
            <div *ngIf=invalidImageType class="validator">
               Invalid image type.
            </div>
            <div *ngIf=invalidImageSize class="validator">
               10Mb size exceeded, upload a lower resolution image.
            </div>
         </div>
      </div>
      <div class="col-lg">
         <div formGroupName="recipe" class="form-group">
            <input class="form-control" id="imageSource" formControlName="imageSource" type="text" hidden>
            <div class="row">
               <div class="col-lg">
                  <label for="name">Name</label>
                  <span *ngIf="formFieldRequired('recipe.name')" class="validator">
                     (Required)
                  </span>
                  <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name"
                     [ngClass]="{'is-invalid': formFieldRequired('recipe.name')}">
               </div>
            </div>
            <div class="row">
               <div class="col-lg">
                  <label for="source">Source</label>
                  <span *ngIf="formFieldRequired('recipe.source')" class="validator">
                     (Required)
                  </span>
                  <input type="text" class="form-control" id="source" formControlName="source"
                     placeholder="https://www.google.com"
                     [ngClass]="{'is-invalid': formFieldRequired('recipe.source')}">
               </div>
            </div>
         </div>
      </div>
   </div>

   <div formGroupName="recipe" class="form-group">
      <div class="row">
         <div class="col">
            <h5>Ingredients</h5>
         </div>
      </div>
      <div formArrayName="ingredients">
         <div class="row">
            <div class="col">
               <div *ngFor="let ingredient of recipeForm.get('recipe.ingredients').controls; let i = index"
                  formGroupName="{{i}}">
                  <div class="row">
                     <div class="col-md-5">
                        <label for="name">Ingredient</label>
                        <span *ngIf="formFieldRequired('recipe.ingredients.'+i+'.name')" class="validator">
                           (Required)
                        </span>
                        <input type="text" class="form-control" id="name" formControlName="name"
                           [ngClass]="{'is-invalid': formFieldRequired('recipe.ingredients.'+i+'.name')}">
                     </div>
                     <div class="col">
                        <label for="measurement">Measurement</label>
                        <span *ngIf="formFieldRequired('recipe.ingredients.'+i+'.measurement')" class="validator">
                           (Required)
                        </span>
                        <input type="text" class="form-control" id="measurement" formControlName="measurement"
                           [ngClass]="{'is-invalid': formFieldRequired('recipe.ingredients.'+i+'.measurement')}">
                     </div>
                     <div class="col">
                        <label for="unit">Unit</label>
                        <span *ngIf="formFieldRequired('recipe.ingredients.'+i+'.unit')" class="validator">
                           (Required)
                        </span>
                        <select class="form-control" id="unit" formControlName="unit"
                           [ngClass]="{'is-invalid': formFieldRequired('recipe.ingredients.'+i+'.unit')}">
                           <option *ngFor="let unit of units" [value]=unit
                              [selected]="print(unit, ingredient.unit, recipeForm.get('recipe.ingredients.'+i+'.unit'))">
                              {{unit}}</option>
                        </select>
                     </div>
                     <div class="col-auto mt-auto end-col-sm-gutter">
                        <button class="btn btn-outline-danger key" type="button" (click)=removeIngredient(i)>-</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3 justify-content-end">
            <div class="col-auto">
               <button class="btn btn-outline-primary key" type="button" (click)=addIngredient()>+</button>
            </div>
         </div>
      </div>
   </div>

   <div formGroupName="recipe" class="form-group">
      <div class="row">
         <div class="col">
            <h5>Directions</h5>
         </div>
      </div>
      <div class="row">
         <div class="col-sm">
            <label>Prep time</label>
            <div class="row">
               <div class="col begin-col-sm-gutter">
                  <label for="prepTimeHour">Hours</label>
                  <input class="form-control" id="prepTimeHour" formControlName="prepTimeHour" type="number"
                     [ngClass]="{'is-invalid': formFieldInvalid('recipe.prepTimeHour')}">
               </div>
               <div class="col mid-col-sm-gutter">
                  <label for="prepTimeMinute">Minutes</label>
                  <input class="form-control" id="prepTimeMinute" formControlName="prepTimeMinute" type="number"
                     [ngClass]="{'is-invalid': formFieldInvalid('recipe.prepTimeMinute')}">
               </div>
               <div class="col end-col-sm-gutter">
                  <label for="prepTimeSecond">Seconds</label>
                  <input class="form-control" id="prepTimeSecond" formControlName="prepTimeSecond" type="number"
                     [ngClass]="{'is-invalid': formFieldInvalid('recipe.prepTimeSecond')}">
               </div>
            </div>
            <div *ngIf="formFieldMin('recipe.prepTimeHour')" class="validator">
               Prep time hours can not be less then 0.
            </div>
            <div *ngIf="formFieldMin('recipe.prepTimeMinute')" class="validator">
               Prep time minutes can not be less then 0.
            </div>
            <div *ngIf="formFieldMax('recipe.prepTimeMinute')" class="validator">
               Prep time minutes can not be greater then 59.
            </div>
            <div *ngIf="formFieldMin('recipe.prepTimeSecond')" class="validator">
               Prep time seconds can not be less then 0.
            </div>
            <div *ngIf="formFieldMax('recipe.prepTimeSecond')" class="validator">
               Prep time seconds can not be greater then 59.
            </div>
         </div>
         <div class="col-sm">
            <label>Cook time</label>
            <div class="row">
               <div class="col begin-col-sm-gutter">
                  <label for="cookTimeHour">Hours</label>
                  <input class="form-control" id="cookTimeHour" formControlName="cookTimeHour" type="number">
               </div>
               <div class="col mid-col-sm-gutter">
                  <label for="cookTimeMinute">Minutes</label>
                  <input class="form-control" id="cookTimeMinute" formControlName="cookTimeMinute" type="number">
               </div>
               <div class="col end-col-sm-gutter">
                  <label for="cookTimeSecond">Seconds</label>
                  <input class="form-control" id="cookTimeSecond" formControlName="cookTimeSecond" type="number">
               </div>
            </div>
            <div *ngIf="formFieldMin('recipe.cookTimeHour')" class="validator">
               Cook time hours can not be less then 0.
            </div>
            <div *ngIf="formFieldMin('recipe.cookTimeMinute')" class="validator">
               Cook time minutes can not be less then 0.
            </div>
            <div *ngIf="formFieldMax('recipe.cookTimeMinute')" class="validator">
               Cook time minutes can not be greater then 59.
            </div>
            <div *ngIf="formFieldMin('recipe.cookTimeSecond')" class="validator">
               Cook time seconds can not be less then 0.
            </div>
            <div *ngIf="formFieldMax('recipe.cookTimeSecond')" class="validator">
               Cook time seconds can not be greater then 59.
            </div>
         </div>
      </div>
      <div formArrayName="directions" class="mt-3">
         <div *ngFor="let direction of recipeForm.get('recipe.directions').controls; let i = index"
            formGroupName="{{i}}">
            <div class="row">
               <div class="col begin-col-sm-gutter">
                  <label for="instruction">Step {{direction.controls.step.value}}</label>
                  <span *ngIf="formFieldRequired('recipe.directions.'+i+'.instruction')" class="validator">
                     (Required)
                  </span>
                  <input type="text" id="instruction" class="form-control" formControlName="instruction"
                     [ngClass]="{'is-invalid': formFieldRequired('recipe.directions.'+i+'.instruction')}">
               </div>
               <div class="col-auto mt-auto">
                  <button class="btn btn-outline-danger key" type="button" (click)=removeDirection(direction)>-</button>
               </div>
            </div>
         </div>
         <div class="row justify-content-end mt-3 ml-auto">
            <div class="col-auto">
               <button class="btn btn-outline-primary key" type="button" (click)=addDirection()>+</button>
            </div>
         </div>
      </div>
   </div>
   <div class="row mt-3 mb-3">
      <div class="col d-flex justify-content-end">
         <button *ngIf=editRecipe class="btn btn-outline-primary" type="submit">Confirm edit</button>
         <button *ngIf=!editRecipe class="btn btn-outline-primary" type="submit">Create recipe</button>
      </div>
   </div>
   {{recipeForm.value | json}}
</form>