<form *ngIf="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
   <h3>Create recipe</h3>
   <div class="row">
      <div formGroupName="image" class="form-group col-lg">
         <label for="thumbnail">Thumbnail</label>
         <input type="file" class="form-control-file" id="thumbnail" formControlName="imageSourceFile"
            accept="image/png, image/jpeg, image/jpg" (change)="onFileChange($event)" hidden>
         <img [src]="previewImage" (click)="triggerFileUpdload()" class="img-fluid">
         <small id="thumbnailHelp" class="form-text text-muted">Accepted formats: png, jpeg and jpg</small>
         <div *ngIf="formFieldInvalid('recipe.imageSource')">
            <div *ngIf="invalidImageType" class="validator">
               Invalid image type.
            </div>
            <div *ngIf="invalidImageSize" class="validator">
               10Mb size exceeded, upload a lower resolution image.
            </div>
         </div>
      </div>

      <div formGroupName="recipe" class="form-group col-lg">
         <div class="row">
            <div class="col-lg">
               <label for="name">Name</label>
               <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" required>
               <div *ngIf="formFieldRequired('recipe.name')" class="validator">
                  Name is a required field.
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg">
               <label for="source">Source</label>
               <input type="text" class="form-control" id="source" formControlName="source"
                  placeholder="https://www.google.com">
               <div *ngIf="formFieldRequired('recipe.source')" class="validator">
                  Source is a required field.
               </div>
            </div>
         </div>
      </div>
   </div>

   <div formGroupName="recipe" class="form-group">
      <div class="row">
         <div class="col">
            <label>Prep time</label>
            <div class="input-group">
               <input class="form-control time-hour" id="prepTimeHour" formControlName="prepTimeHour" type="number">
               <input class="time-postfix" type="text" value=" Hours" readonly="readonly" />
            </div>
            <div class="input-group">
               <input class="form-control time-minute" id="prepTimeMinute" formControlName="prepTimeMinute"
                  type="number">
               <input class="time-postfix" type="text" value=" Minutes" readonly="readonly" />
            </div>
            <div class="input-group">
               <input class="form-control time-second" id="prepTimeSecond" formControlName="prepTimeSecond"
                  type="number">
               <input class="time-postfix" type="text" value=" Seconds" readonly="readonly" />
            </div>
            <div *ngIf="formFieldMin('recipe.prepTimeHour')" class="validator">
               Prep time hours can not be less then 0.
            </div>
            <div *ngIf="formFieldMin('recipe.prepTimeMinute')" class="validator">
               Prep time minutes can not be less then 0.
            </div>
            <div *ngIf="formFieldMax('recipe.prepTimeMinute')" class="validator">
               Prep time minutes can not be greater then 59.
            </div>
            <div *ngIf="formFieldMin('recipe.prepTimeSecond')" class="validator">
               Prep time seconds can not be less then 0.
            </div>
            <div *ngIf="formFieldMax('recipe.prepTimeSecond')" class="validator">
               Prep time seconds can not be greater then 59.
            </div>
         </div>
         <div class="col">
            <label>Cook time</label>
            <div class="input-group">
               <input class="form-control time-hour" id="cookTimeHour" formControlName="cookTimeHour" type="number">
               <input class="time-postfix" type="text" value=" Hours" readonly="readonly" />
            </div>
            <div class="input-group">
               <input class="form-control time-minute" id="cookTimeMinute" formControlName="cookTimeMinute"
                  type="number">
               <input class="time-postfix" type="text" value=" Minutes" readonly="readonly" />
            </div>
            <div class="input-group">
               <input class="form-control time-second" id="cookTimeSecond" formControlName="cookTimeSecond"
                  type="number">
               <input class="time-postfix" type="text" value=" Seconds" readonly="readonly" />
            </div>
            <div *ngIf="formFieldMin('recipe.cookTimeHour')" class="validator">
               Cook time hours can not be less then 0.
            </div>
            <div *ngIf="formFieldMin('recipe.cookTimeMinute')" class="validator">
               Cook time minutes can not be less then 0.
            </div>
            <div *ngIf="formFieldMax('recipe.cookTimeMinute')" class="validator">
               Cook time minutes can not be greater then 59.
            </div>
            <div *ngIf="formFieldMin('recipe.cookTimeSecond')" class="validator">
               Cook time seconds can not be less then 0.
            </div>
            <div *ngIf="formFieldMax('recipe.cookTimeSecond')" class="validator">
               Cook time seconds can not be greater then 59.
            </div>
         </div>
      </div>
      <input class="form-control" id="id" formControlName="id" type="number" hidden>
      <input class="form-control" id="imageSource" formControlName="imageSource" type="text" hidden>
   </div>
   <div class="row mt-3 mb-3">
      <div class="col d-flex justify-content-end">
         <button *ngIf=editRecipe class="btn btn-outline-primary" type="submit">Confirm edit</button>
         <button *ngIf=!editRecipe class="btn btn-outline-primary" type="submit">Create recipe</button>
      </div>
   </div>
   {{recipeForm.value | json}}
</form>
