.card {  
  margin-right: 2.5px;
  margin-left: 2.5px;
  border: 1px solid rgba(0,0,0,.2);
  margin-bottom: 5px;
}

.card-deck {
  margin-right: 0px;
  margin-left: 0px;
}

.card-body {
  padding: 1rem;
}

.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .card {
  -ms-flex: 0 1 32.6%;
  flex: 0 1 32.6%;
  }
}

@media screen and (max-width: 768px) {
  .card {
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
  }
}