<form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <h3 *ngIf=!edit>Create prepared food</h3>
    <h3 *ngIf=edit>Edit prepared food</h3>
    <div class="row">
       <div class="col-lg">
          <div formGroupName="image" class="form-group">
             <label for="thumbnail">Thumbnail</label>
             <input type="file" class="form-control-file" id="thumbnail" formControlName="imageSourceFile"
                accept="image/png, image/jpeg, image/jpg" (change)="onFileChange($event)" hidden>
             <img [src]="previewImage" (click)="clickElementById('thumbnail')" class="img-fluid">
             <small id="thumbnailHelp" class="form-text text-muted">Accepted formats: png, jpeg and jpg</small>
             <div *ngIf=invalidImageType class="validator">
                Invalid image type.
             </div>
             <div *ngIf=invalidImageSize class="validator">
                10Mb size exceeded, upload a lower resolution image.
             </div>
          </div>
       </div>
       <div class="col-lg">
          <div formGroupName="prepared" class="form-group">
             <input class="form-control" id="imageSource" formControlName="imageSource" type="text" hidden>
             <div class="row">
                <div class="col-lg">
                   <label for="name">Name</label>
                   <span *ngIf="formFieldRequired('prepared.name')" class="validator">
                      (Required)
                   </span>
                   <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name"
                      [ngClass]="{'is-invalid': formFieldRequired('prepared.name')}">
                </div>
             </div>
             <div class="row">
                <div class="col-lg">
                   <label for="brand">Brand</label>
                   <span *ngIf="formFieldRequired('prepared.brand')" class="validator">
                      (Required)
                   </span>
                   <input type="text" class="form-control" id="brand" formControlName="brand"
                      [ngClass]="{'is-invalid': formFieldRequired('prepared.brand')}">
                </div>
             </div>
             <div class="row">
                 <div class="col">
                     <label for="description">Description</label>
                     <textarea class="form-control" rows="4" formControlName="description"></textarea>
                 </div>
             </div>
          </div>
       </div>
    </div>
 
    <div formGroupName="prepared" class="form-group">
       <div class="row">
          <div class="col">
             <h5>Directions</h5>
          </div>
       </div>
       <div class="row">
          <div class="col-sm">
             <label>Prep time</label>
             <div class="row">
                <div class="col begin-col-sm-gutter">
                   <label for="prepTimeHour">Hours</label>
                   <input class="form-control" id="prepTimeHour" formControlName="prepTimeHour" type="number"
                      [ngClass]="{'is-invalid': formFieldInvalid('prepared.prepTimeHour')}">
                </div>
                <div class="col mid-col-sm-gutter">
                   <label for="prepTimeMinute">Minutes</label>
                   <input class="form-control" id="prepTimeMinute" formControlName="prepTimeMinute" type="number"
                      [ngClass]="{'is-invalid': formFieldInvalid('prepared.prepTimeMinute')}">
                </div>
                <div class="col end-col-sm-gutter">
                   <label for="prepTimeSecond">Seconds</label>
                   <input class="form-control" id="prepTimeSecond" formControlName="prepTimeSecond" type="number"
                      [ngClass]="{'is-invalid': formFieldInvalid('prepared.prepTimeSecond')}">
                </div>
             </div>
             <div *ngIf="formFieldMin('prepared.prepTimeHour')" class="validator">
                Prep time hours can not be less then 0.
             </div>
             <div *ngIf="formFieldMin('prepared.prepTimeMinute')" class="validator">
                Prep time minutes can not be less then 0.
             </div>
             <div *ngIf="formFieldMax('prepared.prepTimeMinute')" class="validator">
                Prep time minutes can not be greater then 59.
             </div>
             <div *ngIf="formFieldMin('prepared.prepTimeSecond')" class="validator">
                Prep time seconds can not be less then 0.
             </div>
             <div *ngIf="formFieldMax('prepared.prepTimeSecond')" class="validator">
                Prep time seconds can not be greater then 59.
             </div>
          </div>
          <div class="col-sm">
             <label>Cook time</label>
             <div class="row">
                <div class="col begin-col-sm-gutter">
                   <label for="cookTimeHour">Hours</label>
                   <input class="form-control" id="cookTimeHour" formControlName="cookTimeHour" type="number" 
                   [ngClass]="{'is-invalid': formFieldInvalid('prepared.cookTimeHour')}">
                </div>
                <div class="col mid-col-sm-gutter">
                   <label for="cookTimeMinute">Minutes</label>
                   <input class="form-control" id="cookTimeMinute" formControlName="cookTimeMinute" type="number" 
                   [ngClass]="{'is-invalid': formFieldInvalid('prepared.cookTimeMinute')}">
                </div>
                <div class="col end-col-sm-gutter">
                   <label for="cookTimeSecond">Seconds</label>
                   <input class="form-control" id="cookTimeSecond" formControlName="cookTimeSecond" type="number" 
                   [ngClass]="{'is-invalid': formFieldInvalid('prepared.cookTimeSecond')}">
                </div>
             </div>
             <div *ngIf="formFieldMin('prepared.cookTimeHour')" class="validator">
                Cook time hours can not be less then 0.
             </div>
             <div *ngIf="formFieldMin('prepared.cookTimeMinute')" class="validator">
                Cook time minutes can not be less then 0.
             </div>
             <div *ngIf="formFieldMax('prepared.cookTimeMinute')" class="validator">
                Cook time minutes can not be greater then 59.
             </div>
             <div *ngIf="formFieldMin('prepared.cookTimeSecond')" class="validator">
                Cook time seconds can not be less then 0.
             </div>
             <div *ngIf="formFieldMax('prepared.cookTimeSecond')" class="validator">
                Cook time seconds can not be greater then 59.
             </div>
          </div>
       </div>
       <div formArrayName="directions" class="mt-3">
          <div *ngFor="let direction of form.get('prepared.directions').controls; let i = index"
             formGroupName="{{i}}">
             <div class="row">
                <div class="col begin-col-sm-gutter">
                   <label for="instruction">Step {{direction.controls.step.value}}</label>
                   <span *ngIf="formFieldRequired('prepared.directions.'+i+'.instruction')" class="validator">
                      (Required)
                   </span>
                   <input type="text" id="instruction" class="form-control" formControlName="instruction"
                      [ngClass]="{'is-invalid': formFieldRequired('prepared.directions.'+i+'.instruction')}">
                </div>
                <div class="col-auto mt-auto">
                   <button class="btn btn-outline-danger key" type="button" (click)="removeDirection(i, 'prepared.directions')">-</button>
                </div>
             </div>
          </div>
          <div class="row justify-content-end mt-3 ml-auto">
             <div class="col-auto">
                <button class="btn btn-outline-primary key" type="button" (click)="addDirection('prepared.directions')">+</button>
             </div>
          </div>
       </div>
    </div>
    <div class="row mt-3 mb-3">
       <div class="col d-flex justify-content-end">
          <button *ngIf=edit class="btn btn-outline-primary" type="submit">Confirm edit</button>
          <button *ngIf=!edit class="btn btn-outline-primary" type="submit">Create prepared item</button>
       </div>
    </div>
    {{form.value | json}}
 </form>