<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div formGroupName="element">
      <div class="form-group form-row">
        <div class="col">
          <label for="items">Schedule items</label>
          <input type="text" class="form-control" id="search" (keyup)="searchOnType($event)"
            placeholder="Type to search...">
        </div>
      </div>
      <div class="form-group form-row">
        <div class="col-sm-5 p-2">
          <div class="row" *ngFor="let schedulableItem of schedulableItems; let i = index">
            <div class="col">
              <div>{{schedulableItem.name}}</div>
            </div>
            <div class="col-auto">
              <button type="button" (click)="addSchedule(i)" class="btn btn-primary btn-sm mt-2">+</button>
            </div>
          </div>
        </div>
        <div class="col-sm-7 p-2" formArrayName="schedules">
          <div class="form-group form-row"
            *ngFor="let schedule of getFormArrayComponent('element.schedules').controls; let l = index"
            [formGroupName]=l>
            <div class="col-lg">
              {{schedule.controls.scheduledItemName.value}}
            </div>
            <div class="col-lg">
              <input type="date" class="form-control" id="date" formControlName="date">
            </div>
            <div class="col">
              <select class="form-control" formControlName="mealTime">
                <option *ngFor="let mealTime of mealTimes" [ngValue]=mealTime>{{mealTime}}</option>
              </select>
            </div>
            <div class="col-auto">
              <button type="button" (click)="removeSchedule(l)" class="btn btn-danger btn-sm mt-2">x</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <button class="btn btn-outline-primary" type="submit">Schedule</button>
        </div>
      </div>
    </div>
  </form>
</div>

<p>
  {{getFormComponent("element").value | json}}
</p>