<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=""><img src="https://img.icons8.com/pastel-glyph/64/000000/apple--v2.png" width="30" height="30" alt="">Delectable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/recipe/list">Recipe</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/pantry/list">Pantry</a>
      </li>
    </ul>
  </div>
</nav>
