<div class="row d-flex justify-content-center">
    <div class="col-10">
      <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="Date">Date</label>
          <input type="date" class="form-control" id="epochDay" formControlName="epochDay" placeholder="Name">

          <label for="mealType">Meal</label>
          <select formControlName="mealType">
              <option *ngFor="let mealType of mealTypes" [ngValue]=mealType>{{mealType}}</option>
          </select>
          <label for="Recipe">Recipe</label>
            <select formControlName="recipe">
                <option *ngFor="let recipe of recipes" [ngValue]=recipe.id>{{recipe.name}}</option>
            </select>
        </div>
        <button type="submit">Submit</button>
      </form>
      <p>
      Form Value: {{ scheduleForm.value | json }}
      </p>
    </div>
  </div>