<div class="row mt-3 mb-3">
    <div class="col d-flex justify-content-end">
      <a routerLink="/prepared/add" class="btn btn-outline-primary" role="button">Add prepared item</a>
    </div>
  </div>
  <div class="card-deck mr-auto">
    <div class="card" *ngFor="let preparedItem of preparedItems; let i = index">
      <a [routerLink]="['/prepared/detail', preparedItem.id]">
        <img class="card-img-top img-fluid" [src]="previewImages[i]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ preparedItem.name }} </h5>
        </div>
      </a>
    </div>
  </div>