.daysInWeek{
    font-size: 20px;
}

.active {
    background-color: rgb(0, 110, 255);
    color: rgb(253, 253, 253);
  }  

.month {
    font-size: 24px;
}

td a {
    display:block;
    width:100%;
}

.del-key {
    width:40px;
    height:25px;
    padding:0px;
}

@media (max-width: 400px) {  
    td a {
        padding:0;
    }
}