<div class="row" *ngFor="let schedule of schedules; let i = index">
    <div class="col-12">
        <div *ngIf="schedule.uniqueDay && i != 0">
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div *ngIf="schedule.uniqueDay" class="font-weight-bold">
                    {{ schedule.epochDay }}
                </div>
            </div>
            <div class="col-sm-2">
                {{ schedule.mealType }}
            </div>
            <div class="col-auto">
                <a [routerLink]="['/recipe/detail', schedule.recipe.id]" class="badge badge-light">{{ schedule.recipe.name }}</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-end">
        <a routerLink="/schedule/add" class="btn btn-dark" role="button">Add Item</a>
    </div>
</div>