<div class="row mt-3">
  <div class="col-lg">
    <img class="img-fluid" src="{{ recipe.imageSource }}" alt="image">
  </div>
  <div class="col-lg">
    <div class="row recipetable">
      <div class="col-auto">
        <h4>{{ recipe.name }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <b>Source</b>
      </div>
      <div class="col-10 text-break">
        {{ recipe.source }}
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <b>Prep</b>
      </div>
      <div class="col-10">
        <div class="inline" *ngIf="displayPrepTimeHour()">
          {{recipe.prepTimeHour}}h
        </div>
        <div class="inline" *ngIf="displayPrepTimeMinute()">
          {{recipe.prepTimeMinute}}m
        </div>
        <div class="inline" *ngIf="displayPrepTimeSecond()">
          {{recipe.prepTimeSecond}}s
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <b>Cook</b>
      </div>
      <div class="col-10">
        <div class="inline" *ngIf="displayCookTimeHour()">
          {{recipe.cookTimeHour}}h
        </div>
        <div class="inline" *ngIf="displayCookTimeMinute()">
          {{recipe.cookTimeMinute}}m
        </div>
        <div class="inline" *ngIf="displayCookTimeSecond()">
          {{recipe.cookTimeSecond}}s
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <b>Total</b>
      </div>
      <div class="col-10">
        <div class="inline" *ngIf="displayPrepTimeHour() || displayCookTimeHour()">
          {{totalTimeHour}}h
        </div>
        <div class="inline" *ngIf="displayPrepTimeMinute() || displayCookTimeMinute()">
          {{totalTimeMinute}}m
        </div>
        <div class="inline" *ngIf="displayPrepTimeSecond() || displayCookTimeSecond()">
          {{totalTimeSecond}}s
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-end mt-1" *ngIf="displayDeleteButton()">
  <div class="col-auto">
    <button type="button" class="btn btn-outline-primary" [routerLink]="['/recipe/edit', recipe.id]">Edit
      recipe</button>
  </div>
</div>

<div class="row justify-content-end mt-1" *ngIf="displayDeleteButton()">
  <div class="col-auto">
    <button type="button" class="btn btn-outline-danger" (click)="delete(recipe.id)">Remove recipe</button>
  </div>
</div>