@media (max-width: 960px) { 
    .recipetable {
        justify-content: center;
    }
}

.col {
    text-align: left;
}

table {
    width: auto;
}

.inline {
    display: inline-block;
    margin-right: 5px;
}

.img-fluid {
    max-width:720px; 
    height:auto; 
    width:100%;
}