<table class="table table-striped">
  <thead class="thead-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pantry of pantryItems">
      <td>{{ pantry.id }}</td>
      <td>{{ pantry.name }}</td>
      <td><a [routerLink]="['/pantry/detail', pantry.id]" class="btn btn-info">More</a></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col d-flex justify-content-end">
      <a routerLink="/pantry/add" class="btn btn-dark" role="button">Add Item</a>
  </div>
</div>