<img class="img-fluid" src="{{ recipe.imageSource }}" alt="Card image cap">

<div class="row mt-4">
  <div class="col-auto">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-auto">
    Source
  </div>
  <div class="col-auto">
    {{ recipe.source }}
  </div>
</div>
<div class="row">
  <div class="col-auto">
    Prep time
  </div>
  <div class="col-auto">
    30 Minutes
    <div *ngIf="displayPrepTimeHour()">
      {{recipe.prepTimeHour}} Hours
    </div>
    <div *ngIf="displayPrepTimeMinute()">
      {{recipe.prepTimeMinute}} Minutes
    </div>
    <div *ngIf="displayPrepTimeSecond()">
      {{recipe.prepTimeSecond}} Seconds
    </div>
  </div>
</div>
<div class="row">
  <div class="col-auto">
    Cook time
  </div>
  <div class="col-auto">
    <div *ngIf="displayCookTimeHour()">
      {{recipe.cookTimeHour}} Hours
    </div>
    <div *ngIf="displayCookTimeMinute()">
      {{recipe.cookTimeMinute}} Minutes
    </div>
    <div *ngIf="displayCookTimeSecond()">
      {{recipe.cookTimeSecond}} Seconds
    </div>
  </div>
</div>
<div class="row justify-content-end" *ngIf="displayDeleteButton()">
  <div class="col-auto">
    <button type="button" class="btn btn-outline-danger" (click)="delete(recipe.id)">Remove recipe</button>
  </div>
</div>