<div class="container">
	<div class="row mt-2 justify-content-center">
		<div class="col-auto">
			<img class="img-fluid" src="{{ recipe.imageSource }}" alt="image">
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col-auto">
			<h2>{{ recipe.name }}</h2>
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col-auto">
			<span>{{ recipe.source }}</span>
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col-auto">
			<span>{{ recipe.description }}</span>
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col">
			<table class="table">
				<tr>
					<td class="table-active">Prep time</td>
					<td class="table-light">
						{{recipe.prepTimeHour}}h
						{{recipe.prepTimeMinute}}m
						{{recipe.prepTimeSecond}}s
					</td>
				</tr>
				<tr>
					<td class="table-active">Cook time</td>
					<td class="table-light">
						{{recipe.cookTimeHour}}h
						{{recipe.cookTimeMinute}}m
						{{recipe.cookTimeSecond}}s
					</td>
				</tr>
				<tr>
					<td class="table-active">Total time</td>
					<td class="table-light">
						{{totalTimeHour}}h
						{{totalTimeMinute}}m
						{{totalTimeSecond}}s
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-md-4">
			<div class="row mt-2">
				<div class="col">
					<h4>Ingredients</h4>
				</div>
			</div>
			<div class="row" *ngFor="let ingredient of recipe.ingredients">
				<div class="col">
					{{ ingredient.measurement }} {{ ingredient.unit }} {{ ingredient.pantry.name }}
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row mt-2">
				<div class="col">
					<h4>Directions</h4>
				</div>
			</div>
			<div class="row" *ngFor="let direction of recipe.directions">
				<div class="col">
					<b>Step {{ direction.step }}: </b>
					<span>{{ direction.instruction }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-2" *ngIf="displayDeleteButton()">
		<div class="col d-flex justify-content-begin">
			<button type="button" class="btn btn-link" (click)="delete(recipe.id)">Delete</button>
		</div>
		<div class="col d-flex justify-content-end">
			<button type="button" class="btn btn-primary" [routerLink]="['/recipe/edit', recipe.id]">Edit</button>
		</div>
	</div>
</div>