<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th>Name</th>
      <td>{{recipe.name}}</td>
    </tr>
    <tr>
      <th>Source</th>
      <td>{{recipe.source}}</td>
    </tr>
    <tr>
      <th>Prep time</th>
      <td>{{recipe.prepTimeHour}} Hours
        {{recipe.prepTimeMinute}} Minutes
        {{recipe.prepTimeSecond}} Seconds</td>
    </tr>
    <tr>
      <th>Cook time</th>
      <td>{{recipe.cookTimeHour}} Hours
        {{recipe.cookTimeMinute}} Minutes
        {{recipe.cookTimeSecond}} Seconds</td>
    </tr>

  </tbody>
</table>

<img class="img-fluid" src="{{'http://dev-delectable.red.internal/filehandler/get/' + recipe.imageSource }}" alt="Card image cap">