.img-fluid {
    max-height:300px; 
}

div {
    word-break: normal;
    overflow-wrap: break-word;
}

li {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.recipe-timing {
    padding: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

ul, ol {
    padding-left: 20px;
}